	/*
  	Flaticon icon font: Flaticon
  	Creation date: 15/01/2021 07:33
  	*/

    @font-face {
      font-family: "antarc";
      src: url("../assets/antarc fonts/antarc icons.eot");
      src: url("../assets/antarc fonts/antarc icons.eot?#iefix") format("embedded-opentype"),
           url("../assets/antarc fonts/antarc icons.woff2") format("woff2"),
           url("../assets/antarc fonts/antarc icons.woff") format("woff"),
           url("../assets/antarc fonts/antarc icons.ttf") format("truetype"),
           url("../assets/antarc fonts/antarc icons.#Flaticon") format("svg");
      font-weight: normal;
      font-style: normal;
    }

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "antarc";
    src: url("../assets/antarc fonts/antarc icons.svg#Flaticon") format("svg");
  }
}

.n4 {
  font-family: antarc;
  font-style: normal;
}

.flaticon-snowflake:before { content: "\f100"; }
.flaticon-iceberg:before { content: "\f101"; }
.flaticon-value:before { content: "\f102"; }
.flaticon-heart:before { content: "\f103"; }
.flaticon-saw:before { content: "\f104"; }
