:root {
  --backGroundOne: #CDC8B0;
  --backGroundTwo: #DAD4BB;
  --backGroundThree: #B4AF9A;
  --backGroundFour: #686458;
  --mainText: #4E4B42;
  --shadowText: #bab5a1;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/Open Sans/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/Open Sans/OpenSans-SemiBold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/Open Sans/OpenSans-Italic.ttf");
  font-style: italic;
}

body {
  background-color: var(--backGroundOne);
  font-family: "Open Sans";
  letter-spacing: 0.03rem;
  font-weight: lighter;
  color: var(--mainText);
  font-size: 16px;
  overflow: hidden;
}

h1 {
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  text-shadow: 0.3rem 0.3rem 0 var(--shadowText);
}

.yorha-menu {
  width: 100vw;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  padding-bottom: 3px;
  border-bottom: 3px solid var(--mainText);
}

.yorha-sides {
  width: 160px;
  height: 31px;
  float: left;
  background: red;
  position: absolute;
  top: 20px;
  left: 14px;
}

.yorha-menu-border {
  width: 100vw;
  height: 76px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, var(--mainText) 30%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 60px 3px;
  background-repeat: repeat-x;
}

.yorha-menu ul {
  margin-top: 20px;
  padding: 0;
  display: flex;
}

.yorha-menu li {
  min-width: 120px;
  list-style-type: none;
  margin: 0 14px;
  font-size: 20px;
  background-color: var(--backGroundThree);
  color: var(--mainText);
  padding: 2px 7px;
  transition: 0.2s;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.yorha-menu-square {
  width: 16px;
  height: 16px;
  background-color: var(--mainText);
  float: left;
  margin-left: 1px;
  margin-right: 7px;
  margin-top: 5px;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease;
}

.yorha-menu li:hover .yorha-menu-square {
  background-color: var(--backGroundThree);
}

.yorha-menu li > span {
  position: relative;
  z-index: 1;
  transition: all 0.3s ease;
}

.yorha-menu li:hover span {
  color: var(--backGroundThree);
}

.yorha-menu a {
  text-decoration: none;
  color: var(--mainText);
}

.yorha-menu li::before {
  content: "";
  width: 120px;
  height: calc(100% - 10px);
  background: var(--mainText);
  position: absolute;
  padding: 0px 7px;
  top: 2px;
  left: -134px;
  transition: all 0.3s ease;
  box-shadow: 0px -6px 0px 0px var(--mainText);
  border-top: 2px solid var(--backGroundThree);
}

.yorha-menu li:hover::before {
  left: 0px;
}

.yorha-menu li::after {
  content: "";
  width: 120px;
  height: calc(100% - 10px);
  background: var(--mainText);
  position: absolute;
  padding: 0px 7px;
  top: 6px;
  left: -134px;
  transition: all 0.3s ease;
  box-shadow: 0px 6px 0px 0px var(--mainText);
  border-bottom: 2px solid var(--backGroundThree);
}

.yorha-menu li:hover::after {
  left: 0px;
}

.yorha-content {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-left: 25px;
}

.yorha-subh1 {
  text-transform: none;
  font-size: 20px;
  letter-spacing: 0.1rem;
  word-spacing: 0.2rem;
  text-shadow: 0 0 0 transparent;
}

.yorha-select {
  border-left: 25px solid var(--backGroundThree);
}

.yorha-select ul {
  border-left: 4px solid var(--backGroundThree);
  margin-left: 10px;
}

.yorha-select li {
    min-width: 120px;
    max-width: 250px;
    list-style-type: none;
    margin-left: -15px;
    margin-bottom: 18px;
    font-size: 20px;
    background-color: var(--backGroundThree);
    color: var(--mainText);
    padding: 2px 7px;
    transition: 0.2s;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
}

.yorha-select li::before {
  content: "";
  width: 250px;
  height: calc(100% - 10px);
  background: var(--mainText);
  position: absolute;
  padding: 0px 7px;
  top: 2px;
  left: -264px;
  transition: all 0.3s ease;
  box-shadow: 0px -6px 0px 0px var(--mainText);
  border-top: 2px solid var(--backGroundThree);
}

.yorha-select li:hover::before {
  left: 0px;
}

.yorha-select li::after {
  content: "";
  width: 250px;
  height: calc(100% - 10px);
  background: var(--mainText);
  position: absolute;
  padding: 0px 7px;
  top: 6px;
  left: -264px;
  transition: all 0.3s ease;
  box-shadow: 0px 6px 0px 0px var(--mainText);
  border-bottom: 2px solid var(--backGroundThree);
}

.yorha-select li:hover::after {
  left: 0px;
}

.yorha-select li:hover .yorha-menu-square {
  background-color: var(--backGroundThree);
}

.yorha-select a {
  text-decoration: none;
  color: var(--mainText);
  text-transform: uppercase;
}

.yorha-select li > span {
  position: relative;
  z-index: 1;
  transition: all 0.3s ease;
}

.yorha-select li:hover span {
  color: var(--backGroundThree);
}

#yorha-grid {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.1;
  -webkit-background-size: 0.3rem 0.3rem;
  -moz-background-size: 0.3rem 0.3rem;
  background-size: 0.3rem 0.3rem;
  background-image: -webkit-linear-gradient(left, #ccc8b1 1px, rgba(204, 200, 177, 0) 1px), -webkit-linear-gradient(top, #ccc8b1 1px, rgba(204, 200, 177, 0) 1px);
  background-image: -moz-linear-gradient(left, #ccc8b1 1px, rgba(204, 200, 177, 0) 1px), -moz-linear-gradient(top, #ccc8b1 1px, rgba(204, 200, 177, 0) 1px);
  background-image: -o-linear-gradient(left, #ccc8b1 1px, rgba(204, 200, 177, 0) 1px), -o-linear-gradient(top, #ccc8b1 1px, rgba(204, 200, 177, 0) 1px);
  background-image: -ms-linear-gradient(left, #ccc8b1 1px, rgba(204, 200, 177, 0) 1px), -ms-linear-gradient(top, #ccc8b1 1px, rgba(204, 200, 177, 0) 1px);
  background-image: linear-gradient(to right, #ccc8b1 1px, rgba(204, 200, 177, 0) 1px), linear-gradient(to bottom, #ccc8b1 1px, rgba(204, 200, 177, 0) 1px);
}
