:root {
  --backGroundOne: #d1cdb7;
  --backGroundTwo: #dcd8c0;
  --mainText: #454138;
  --shadowText: #bab5a1;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/Open Sans/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/Open Sans/OpenSans-SemiBold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/Open Sans/OpenSans-Italic.ttf");
  font-style: italic;
}

body {
  background-color: var(--backGroundOne);
  font-family: "Open Sans";
  letter-spacing: 0.03rem;
  font-weight: lighter;
  color: var(--mainText);
  font-size: 16px;
  overflow: hidden;
}

h1 {
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  text-shadow: 0.3rem 0.3rem 0 var(--shadowText);
}

.yorha-menu-square {
  width: 16px;
  height: 16px;
  background-color: var(--mainText);
  float: left;
  margin-left: 1px;
  margin-right: 7px;
  margin-top: 6px;
}

nav {
  width: 100vw;
  text-transform: uppercase;
}

nav ul {
  display: flex;
}

nav li {
  min-width: 120px;
  list-style-type: none;
  margin: 0 2vw;
  font-size: 20px;
  background-color: var(--shadowText);
  padding: 2px 7px;
  transition: 0.3s;
  opacity: 0.5;
}

nav li:hover {
  background-color: var(--mainText);
  opacity: 1;
}

nav a {
  text-decoration: none;
  color: var(--mainText);
}

#yorha-darkening {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: radial-gradient(circle, rgb(0, 0, 0, 0), rgb(0, 0, 0, 0.8));
  background-size: 100% 300%;
  background-position: 0% 50%;
}

#yorha-grid {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.1;
  -webkit-background-size: 0.3rem 0.3rem;
  -moz-background-size: 0.3rem 0.3rem;
  background-size: 0.3rem 0.3rem;
  background-image: -webkit-linear-gradient(left, #ccc8b1 1px, rgba(204, 200, 177, 0) 1px), -webkit-linear-gradient(top, #ccc8b1 1px, rgba(204, 200, 177, 0) 1px);
  background-image: -moz-linear-gradient(left, #ccc8b1 1px, rgba(204, 200, 177, 0) 1px), -moz-linear-gradient(top, #ccc8b1 1px, rgba(204, 200, 177, 0) 1px);
  background-image: -o-linear-gradient(left, #ccc8b1 1px, rgba(204, 200, 177, 0) 1px), -o-linear-gradient(top, #ccc8b1 1px, rgba(204, 200, 177, 0) 1px);
  background-image: -ms-linear-gradient(left, #ccc8b1 1px, rgba(204, 200, 177, 0) 1px), -ms-linear-gradient(top, #ccc8b1 1px, rgba(204, 200, 177, 0) 1px);
  background-image: linear-gradient(to right, #ccc8b1 1px, rgba(204, 200, 177, 0) 1px), linear-gradient(to bottom, #ccc8b1 1px, rgba(204, 200, 177, 0) 1px);
}
