:root {
  --backGroundOne: #CDC8B0;
  --backGroundTwo: #DAD4BB;
  --backGroundThree: #B4AF9A;
  --backGroundFour: #686458;
  --mainText: #4E4B42;
  --shadowText: #bab5a1;
}
@font-face {
  font-family: "Open Sans";
  src: url("../assets/Open Sans/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../assets/Open Sans/OpenSans-SemiBold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Open Sans";
  src: url("../assets/Open Sans/OpenSans-Italic.ttf");
  font-style: italic;
}

  #s-m-t-tooltip {
    -webkit-animation: zoom 600ms;
    max-width: 300px;
    max-width: 300px;
    padding: 3px 5px;
    margin: 20px 0px 0px 20px;
    background-color: var(--backGroundThree);
    font-size: 11px;
    letter-spacing: 2px;
    text-transform: lowercase;
    color: var(--mainText);
    text-transform: uppercase;
    z-index: 999999999999999999999999999999999999;
    font-weight: bold;
  }

body {
  background-color: var(--backGroundOne);
  -webkit-background-size: 0.3rem 0.3rem;
  -moz-background-size: 0.3rem 0.3rem;
  background-size: 0.3rem 0.3rem;
  background-image: -webkit-linear-gradient(left, rgba(180,175,154,0.3) 1px, rgba(204, 200, 177, 0) 1px), -webkit-linear-gradient(top, rgba(180,175,154,0.3) 1px, rgba(204, 200, 177, 0) 1px);
  background-image: -moz-linear-gradient(left, rgba(180,175,154,0.3) 1px, rgba(204, 200, 177, 0) 1px), -moz-linear-gradient(top, rgba(180,175,154,0.3) 1px, rgba(204, 200, 177, 0) 1px);
  background-image: -o-linear-gradient(left, rgba(180,175,154,0.3) 1px, rgba(204, 200, 177, 0) 1px), -o-linear-gradient(top, rgba(180,175,154,0.3) 1px, rgba(204, 200, 177, 0) 1px);
  background-image: -ms-linear-gradient(left, rgba(180,175,154,0.3) 1px, rgba(204, 200, 177, 0) 1px), -ms-linear-gradient(top, rgba(180,175,154,0.3) 1px, rgba(204, 200, 177, 0) 1px);
  background-image: linear-gradient(to right, rgba(180,175,154,0.3) 1px, rgba(204, 200, 177, 0) 1px), linear-gradient(to bottom, rgba(180,175,154,0.3) 1px, rgba(204, 200, 177, 0) 1px);
  font-family: "Open Sans";
  letter-spacing: 0.03rem;
  font-weight: lighter;
  color: var(--mainText);
  font-size: 16px;
  overflow-y: hidden;
}

h1 {
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  text-shadow: 0.3rem 0.3rem 0 var(--shadowText);
}

h2 {
  width: calc(100vw - 45px);
  border-top: 2px solid;
  border-bottom: 2px solid;
  font-size: 24px;
  line-height: 32px;
}

h3 {
  margin: 0;
}

.yorha-menu {
  width: 100vw;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  padding-bottom: 3px;
  border-bottom: 3px solid var(--mainText);
}

.yorha-sides {
  width: 25px;
  height: 31px;
  float: left;
  background: var(--backGroundThree);
  position: absolute;
  top: 20px;
  left: 25px;
}

.yorha-sidesOne {
  width: 4px;
  height: 31px;
  float: left;
  background: var(--backGroundThree);
  position: absolute;
  top: 20px;
  left: 60px;
}

.yorha-menu-border {
  width: 100vw;
  height: 76px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, var(--mainText) 30%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 60px 3px;
  background-repeat: repeat-x;
}

body > div.yorha-menu-border > div > ul > a:nth-child(1) > li {
  margin-left: 90px;
}

.yorha-menu ul {
  margin-top: 20px;
  padding: 0;
  display: flex;
}

.yorha-menu li {
  min-width: 120px;
  list-style-type: none;
  margin: 0 14px;
  font-size: 20px;
  background-color: var(--backGroundThree);
  color: var(--mainText);
  padding: 2px 7px;
  transition: 0.2s;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.yorha-menu-square {
  width: 16px;
  height: 16px;
  background-color: var(--mainText);
  float: left;
  margin-left: 1px;
  margin-right: 7px;
  margin-top: 5px;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease;
}

.yorha-menu li:hover .yorha-menu-square {
  background-color: var(--backGroundThree);
}

.yorha-menu li > span {
  position: relative;
  z-index: 1;
  transition: all 0.3s ease;
}

.yorha-menu li:hover span {
  color: var(--backGroundThree);
}

.yorha-menu a {
  text-decoration: none;
  color: var(--mainText);
}

.yorha-menu li::before {
  content: "";
  width: 120px;
  height: calc(100% - 10px);
  background: var(--mainText);
  position: absolute;
  padding: 0 7px;
  top: 2px;
  left: -134px;
  transition: all 0.3s ease;
  box-shadow: 0 -6px 0 0 var(--mainText);
  border-top: 2px solid var(--backGroundThree);
}

.yorha-menu li:hover::before {
  left: 0;
}

.yorha-menu li::after {
  content: "";
  width: 120px;
  height: calc(100% - 10px);
  background: var(--mainText);
  position: absolute;
  padding: 0 7px;
  top: 6px;
  left: -134px;
  transition: all 0.3s ease;
  box-shadow: 0 6px 0 0 var(--mainText);
  border-bottom: 2px solid var(--backGroundThree);
}

.yorha-menu li:hover::after {
  left: 0;
}

.yorha-content {
  position: absolute;
  top: 80px;
  left: 0;
  width: calc(100vw - 25px);
  height: 100vh;
  padding-left: 25px;
}

.yorha-subh1 {
  text-transform: none;
  font-size: 20px;
  letter-spacing: 0.1rem;
  word-spacing: 0.2rem;
  text-shadow: 0 0 0 transparent;
}

.yorha-select {
  border-left: 25px solid var(--backGroundThree);
}

.yorha-select ul {
  border-left: 4px solid var(--backGroundThree);
  margin-left: 10px;
}

.yorha-select li {
  min-width: 120px;
  max-width: 250px;
  list-style-type: none;
  margin-left: -15px;
  margin-bottom: 18px;
  font-size: 20px;
  background-color: var(--backGroundThree);
  color: var(--mainText);
  padding: 2px 7px;
  transition: 0.2s;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.yorha-select li::before {
  content: "";
  width: 250px;
  height: calc(100% - 10px);
  background: var(--mainText);
  position: absolute;
  padding: 0 7px;
  top: 2px;
  left: -264px;
  transition: all 0.3s ease;
  box-shadow: 0 -6px 0 0 var(--mainText);
  border-top: 2px solid var(--backGroundThree);
}

.yorha-select li:hover::before {
  left: 0;
}

.yorha-select li::after {
  content: "";
  width: 250px;
  height: calc(100% - 10px);
  background: var(--mainText);
  position: absolute;
  padding: 0 7px;
  top: 6px;
  left: -264px;
  transition: all 0.3s ease;
  box-shadow: 0 6px 0 0 var(--mainText);
  border-bottom: 2px solid var(--backGroundThree);
}

.yorha-select li:hover::after {
  left: 0;
}

.yorha-select li:hover .yorha-menu-square {
  background-color: var(--backGroundThree);
}

.yorha-select a {
  text-decoration: none;
  color: var(--mainText);
  text-transform: uppercase;
}

.yorha-select li > span {
  position: relative;
  z-index: 1;
  transition: all 0.3s ease;
}

.yorha-select li:hover span {
  color: var(--backGroundThree);
}

.yorha-textbox {
  margin-top: 40px;
  width: calc(100vw - 45px);
  height: 60vh;
  background: var(--backGroundTwo);
  position: relative;
}

.yorha-textborder {
  width: calc(100% - 50px);
  height: calc(100% - 22px);
  position: absolute;
  top: 9px;
  left: 15px;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-color: var(--shadowText);
  text-align: justify;
}

.yorha-dotone {
  position: absolute;
  top: -2px;
  right: -20px;
  width: 4px;
  height: 4px;
  background: var(--shadowText);
  border-radius: 50%;
}

.yorha-dottwo {
  position: absolute;
  bottom: -3px;
  right: -20px;
  width: 4px;
  height: 4px;
  background: var(--shadowText);
  border-radius: 50%;
}

.yorha-textscroll {
  width: calc(100% - 10px);
  height: calc(100% - 20px);
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 14px;
  overflow: auto;
  overflow-x: hidden;
  padding-right: 20px;
}

.yorha-textscroll::-webkit-scrollbar {
  width: 3px;
}

.yorha-textscroll::-webkit-scrollbar-track {
  background: transparent;
}

.yorha-textscroll::-webkit-scrollbar-thumb {
  background: var(--mainText);
}

.yorha-textscroll > p {
  margin-top: 0;
  margin-bottom: 0;
}

.yorha-textscroll > p ~ p {
  margin-top: 10px;
}

.yorha-textscroll table {
  width: 100%;
  border-collapse: collapse;
}
.yorha-tableheader {
  font-weight: bold;
  border-bottom: 1px solid;
  padding-bottom: 10px;
}

.double {
  padding: 0;
}

.yorha-textscroll td {
  padding-top: 5px;
  min-width: 65px;
  font-size: 13px;
}
