	/*
  	Flaticon icon font: Flaticon
  	Creation date: 15/01/2021 07:46
  	*/

    @font-face {
      font-family: "ino";
      src: url("../assets/ino fonts/ino icons.eot");
      src: url("../assets/ino fonts/ino icons.eot?#iefix") format("embedded-opentype"),
           url("../assets/ino fonts/ino icons.woff2") format("woff2"),
           url("../assets/ino fonts/ino icons.woff") format("woff"),
           url("../assets/ino fonts/ino icons.ttf") format("truetype"),
           url("../assets/ino fonts/ino icons.#Flaticon") format("svg");
      font-weight: normal;
      font-style: normal;
    }

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "ino";
    src: url("../assets/ino fonts/ino icons.svg#Flaticon") format("svg");
  }
}

.n5 {
  font-family: ino;
  font-style: normal;
}

.flaticon-wild-boar:before { content: "\f100"; }
.flaticon-katanas:before { content: "\f101"; }
.flaticon-onigiri:before { content: "\f102"; }
.flaticon-clouds:before { content: "\f103"; }
.flaticon-tempura:before { content: "\f104"; }
