/*
  Flaticon icon font: Flaticon
  Creation date: 15/01/2021 07:46
  */

  @font-face {
    font-family: "kusu";
    src: url("../assets/kusu fonts/kusu icons.eot");
    src: url("../assets/kusu fonts/kusu icons.eot?#iefix") format("embedded-opentype"),
         url("../assets/kusu fonts/kusu icons.woff2") format("woff2"),
         url("../assets/kusu fonts/kusu icons.woff") format("woff"),
         url("../assets/kusu fonts/kusu icons.ttf") format("truetype"),
         url("../assets/kusu fonts/kusu icons.#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
  }

@media screen and (-webkit-min-device-pixel-ratio:0) {
@font-face {
  font-family: "kusu";
  src: url("../assets/kusu fonts/kusu icons.svg#Flaticon") format("svg");
}
}

.n6 {
font-family: kusu;
font-style: normal;
}

.flaticon-caduceus-symbol:before { content: "\f100"; }
.flaticon-arctic-fox:before { content: "\f101"; }
.flaticon-smoke:before { content: "\f102"; }
.flaticon-dagger:before { content: "\f103"; }
.flaticon-koi:before { content: "\f104"; }
