@font-face {
  font-family: "Plant";
  src: url("../assets/Plants/Flaticon.eot");
  src: url("../assets/Plants/Flaticon.eot?#iefix") format("embedded-opentype"),
    url("../assets/Plants/Flaticon.woff2") format("woff2"),
    url("../assets/Plants/Flaticon.woff") format("woff"),
    url("../assets/Plants/Flaticon.ttf") format("truetype"),
    url("../assets/Plants/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Plant";
    src: url("../assets/Plants/Flaticon.svg#Flaticon") format("svg");
  }
}

.flaticon-plant {
  font-family: "Plant";
  width: 60px;
  font-size: 60px;
  text-align: center;
}

.flaticon-001-botanic:before {
  content: "\f100";
}

.flaticon-002-aloe-vera:before {
  content: "\f101";
}

.flaticon-003-aloe-vera:before {
  content: "\f102";
}

.flaticon-004-anthurium:before {
  content: "\f103";
}

.flaticon-005-basil:before {
  content: "\f104";
}

.flaticon-006-botanic:before {
  content: "\f105";
}

.flaticon-007-botanic:before {
  content: "\f106";
}

.flaticon-008-botanic:before {
  content: "\f107";
}

.flaticon-009-botanic:before {
  content: "\f108";
}

.flaticon-010-botanic:before {
  content: "\f109";
}

.flaticon-011-botanic:before {
  content: "\f10a";
}

.flaticon-012-botanic:before {
  content: "\f10b";
}

.flaticon-013-botanic:before {
  content: "\f10c";
}

.flaticon-014-botanic:before {
  content: "\f10d";
}

.flaticon-015-botanic:before {
  content: "\f10e";
}

.flaticon-016-botanic:before {
  content: "\f10f";
}

.flaticon-017-botanic:before {
  content: "\f110";
}

.flaticon-018-botanic:before {
  content: "\f111";
}

.flaticon-019-botanic:before {
  content: "\f112";
}

.flaticon-020-botanic:before {
  content: "\f113";
}

.flaticon-021-botanic:before {
  content: "\f114";
}

.flaticon-022-botanic:before {
  content: "\f115";
}

.flaticon-023-botanic:before {
  content: "\f116";
}

.flaticon-024-botanic:before {
  content: "\f117";
}

.flaticon-025-botanic:before {
  content: "\f118";
}

.flaticon-026-botanic:before {
  content: "\f119";
}

.flaticon-027-botanic:before {
  content: "\f11a";
}

.flaticon-028-botanic:before {
  content: "\f11b";
}

.flaticon-029-botanic:before {
  content: "\f11c";
}

.flaticon-030-botanic:before {
  content: "\f11d";
}

.flaticon-031-botanic:before {
  content: "\f11e";
}

.flaticon-032-botanic:before {
  content: "\f11f";
}

.flaticon-033-botanic:before {
  content: "\f120";
}

.flaticon-034-botanic:before {
  content: "\f121";
}

.flaticon-035-botanic:before {
  content: "\f122";
}

.flaticon-036-botanic:before {
  content: "\f123";
}

.flaticon-037-botanic:before {
  content: "\f124";
}

.flaticon-038-botanic:before {
  content: "\f125";
}

.flaticon-039-botanic:before {
  content: "\f126";
}

.flaticon-040-botanic:before {
  content: "\f127";
}

.flaticon-041-botanic:before {
  content: "\f128";
}

.flaticon-042-botanic:before {
  content: "\f129";
}

.flaticon-043-botanic:before {
  content: "\f12a";
}

.flaticon-044-botanic:before {
  content: "\f12b";
}

.flaticon-045-botanic:before {
  content: "\f12c";
}

.flaticon-046-botanic:before {
  content: "\f12d";
}

.flaticon-047-botanic:before {
  content: "\f12e";
}

.flaticon-048-botanic:before {
  content: "\f12f";
}

.flaticon-049-botanic:before {
  content: "\f130";
}

.flaticon-050-botanic:before {
  content: "\f131";
}