body {
  background: url(https://nierrein.guide/decorations/pattern.png);
}

.container {
  display: table;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}

.helper {
  #position: absolute;
  #top: 50%;
  display: table-cell;
  vertical-align: middle;
}

.content-border {
  #position: relative;
  #top: -50%;
  margin: 0 auto;
  width: 900px;
  height: 500px;
  color: #eee;
  background: rgba(209,205,183,0.3);
  clip-path: polygon(0 2%,
      1% 2%,
      1% 0%,
      99% 0%,
      99% 2%,
      100% 2%,
      100% 98%,
      99% 98%,
      99% 100%,
      1% 100%,
      1% 98%,
      0% 98%);
}

.content {
  position: relative;
  top: 2px;
  left: 2px;
  width: 895.5px;
  height: 496px;
  color: #eee;
  background: rgb(30, 26, 26, 0.8);
  clip-path: polygon(0 2%,
      1% 2%,
      1% 0%,
      99% 0%,
      99% 2%,
      100% 2%,
      100% 98%,
      99% 98%,
      99% 100%,
      1% 100%,
      1% 98%,
      0% 98%);
}

.nr-title {
  width: 280px;
  height: 60px;
  background: rgba(209,205,183,0.6);
  position: absolute;
  top: 33px;
  left: 30px;
  color: black;
  display: table;
}
