@font-face {
  font-family: "Shrink";
  src: url("../assets/Shrink/Shrink.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Briele One";
  src: url("../assets/Briele/Briele-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Briele Two";
  src: url("../assets/Briele/Briele2-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Briele Three";
  src: url("../assets/Briele/Briele3-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Briele Accent";
  src: url("../assets/Briele/BrieleSwashes-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}