	/*
  	Flaticon icon font: Flaticon
  	Creation date: 15/01/2021 07:18
  	*/

    @font-face {
      font-family: "rohan";
      src: url("../assets/rohan fonts/rohan icons.eot");
      src: url("../assets/rohan fonts/rohan icons.eot?#iefix") format("embedded-opentype"),
           url("../assets/rohan fonts/rohan icons.woff2") format("woff2"),
           url("../assets/rohan fonts/rohan icons.woff") format("woff"),
           url("../assets/rohan fonts/rohan icons.ttf") format("truetype"),
           url("../assets/rohan fonts/rohan icons.#Flaticon") format("svg");
      font-weight: normal;
      font-style: normal;
    }

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "rohan";
    src: url("../assets/rohan fonts/rohan icons.svg#Flaticon") format("svg");
  }
}

.n3 {
  font-family: rohan;
  font-style: normal;
}

.flaticon-pen:before { content: "\f100"; }
.flaticon-mountains:before { content: "\f101"; }
.flaticon-artist:before { content: "\f102"; }
.flaticon-scales:before { content: "\f103"; }
.flaticon-pages:before { content: "\f104"; }
