	/*
  	Flaticon icon font: Flaticon
  	Creation date: 15/01/2021 06:59
  	*/

    @font-face {
      font-family: "Satsuki";
      src: url("../assets/satsuki fonts/satsuki icons.eot");
      src: url("../assets/satsuki fonts/satsuki icons.eot?#iefix") format("embedded-opentype"),
           url("../assets/satsuki fonts/satsuki icons.woff2") format("woff2"),
           url("../assets/satsuki fonts/satsuki icons.woff") format("woff"),
           url("../assets/satsuki fonts/satsuki icons.ttf") format("truetype"),
           url("../assets/satsuki fonts/satsuki icons.#Flaticon") format("svg");
      font-weight: normal;
      font-style: normal;
    }

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Satsuki";
    src: url("../assets/satsuki fonts/satsuki icons.svg#Flaticon") format("svg");
  }
}

.n2 {
  font-family: Satsuki;
  font-style: normal;
}

.flaticon-katana:before { content: "\f100"; }
.flaticon-king:before { content: "\f101"; }
.flaticon-tea-cup:before { content: "\f102"; }
.flaticon-bouquet:before { content: "\f103"; }
.flaticon-school:before { content: "\f104"; }
